@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/* body {
    font-family: "Poppins", sans-serif;
    background: #ececec;
} */


body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-area {
    width: 930px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.right-box {
    padding: 40px 30px 40px 40px;
    user-select: none;
}

::placeholder {
    font-size: 16px;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
      
    }

    .right-box {
        padding: 20px;
    }
}
input.email {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    outline: none;
}
.rounded-4{
  background-color: rgb(6, 5, 58);
}
.text-right{
    margin: -20px 5px 0px 120px;
    font-size: small;
}